html, body{
    font-family: Walter Turncoat;
    background-color: rgb(214, 216, 236);
    max-width: 100%;
}
body{
    border: 5px solid black;
    border-radius: 10px ;
}
header{
    font-size: 75px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
ul.pages{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    max-width: 100%;
    }
div.container{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    border-radius: 5px 5px 0px 0px;
    background-color: fuchsia;
}
.pages #buttons{
    color: black;
    font-weight: bold;
}
video{
    max-width:25rem;
    width:100%;
    margin:1.25rem auto;
    padding:1.051%;
    background-image: url(https://cdn.pixabay.com/photo/2014/04/02/16/27/volleyball-307323__340.png);
    background-size: cover;
    border: 5px solid black;
    border-radius: 5px;
 }  
media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 25rem;
    border: 5px solid black;
    background-image: url(kualoa.jpg);
    background-size: cover;
    background-position: center;
}
img#bbq{
    height: 100%;
    border: 5px solid black;
    border-radius: 5px;
}
img#spearFishing{
    height: 100%;
    border: 5px solid black;
    border-radius: 5px;
}
h1#hobbies{
    display: flex;
    flex-direction: row;
}
section p{
    font-size: 20px;
}
div nav{
    border-left: 5px solid black;
    padding-right: 5px;
}
section{
    padding: 10px;
}
media video{
    height: 24em;
}


