html, body{
    font-family: Walter Turncoat;
    background-color: grey;
    max-width: 100%;
}
header{
    font-size: 75px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 100%;
    justify-content: space-between;

    
}
.pages #buttons{
    color: black;
}
video{
    max-width:25rem;
    width:100%;
    max-height:25rem;
    height:100%;
    margin:1.25rem auto;
    padding:1.051%;
    background-image: url(https://cdn.pixabay.com/photo/2014/04/02/16/27/volleyball-307323__340.png);
    background-size: cover;
    border: 5px solid black;
    border-radius: 5px;
 }  
media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 25rem;
}
img#bbq{
    height: 100%;
    border: 5px solid black;
    border-radius: 5px;
}
img#spearFishing{
    height: 100%;
    border: 5px solid black;
    border-radius: 5px;
}
h1#hobbies{
    display: flex;
    flex-direction: row;
}
div .container{
    display: flex;
    flex-direction: column;
}