body{
    font-family: cinzel decorative;
    font-weight: bold;    
}
div.container{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: black;
    width: 100%;
    justify-content: space-between;  
    background-color: fuchsia;
    border: 5px solid black;
    color: white;
    max-width: 99%;
    border-radius: 5px 5px 0px 0px;
}
header{
    display: flex;
    align-items: center;
    font-size: 75px;
    padding-left: .25em;
    color: white;
    text-shadow: 5px 5px black;
}
.pages #buttons{
    color: black;
    font-weight: bold;
   
}.container nav{
    padding-right: 1em;
}
#company{
    padding-left: 1em;
}
#companyDescription{
    padding-left: 2em;
}
#companyBullets{
    padding-left: 4em;
}
@media screen and (max-width: 1389px){
    header{
        block-size: fit-content;
        font-size: 1em;
        max-height: 5%;
        display: flex;
        flex-direction: column;
    }
    header h1{
        order: 2;
        font-size: 5vh;
    }
    header nav{
        block-size: fit-content;
        width: fit-content;
        min-height: 100%;
        border-left: 5px;
        padding-right: 1em;
    }
    nav{
        border-bottom: 5px solid black;
        border-left: 5px solid fuchsia;
    }
}
