*{
    font-family: covered by your grace;
    color: white;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/38/hawaii-1867849__340.jpg);
    background-size: cover;
    opacity: 1;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: .25em;
    margin: 10px;
    height: 310px;
    box-shadow: 10 black;
    border-radius: 25px;
    height: 100%;
    border: 10px solid fuchsia;
    box-shadow: 5px 5px black;
}
nav li{
    font-size: 50px;
    margin-left: 10px;
}
nav p{
    font-size: 30px;
}
img{
    border-radius: 25px;
    margin-top: .5em;
    border: 5px solid black;
}
subheader{
    font-size: 75px;
    margin: 10px;
    padding-right: 1em;
    width: 100%;
    
}