html, body{
    min-height: 100%;
    color: white;  

}
body{
    font-family: cinzel decorative;
    border: 5px solid black;
    border-radius: 10px;
    min-height: 100%;
    
}
header{
    background-color: fuchsia;
    border-bottom: 5px solid black;
    border-radius: 5px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 15vh;
    font-size: 2em;
    padding-left: 1em;
    font-weight: bolder;
    text-shadow: 3px 3px black;
}

header img{
    border-radius: 10px 0px 0px 10px;
    max-height: 15vh;
    border: 4px solid black;


}
div.container{
   display: flex;
   flex-direction: row;
   min-height: 75%;
    

}
article{
    border: 0px 5px 5px solid black;
    background-image: url(kualoa.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    font-size: 30px;
    text-shadow: 3px 3px black;
    font-weight: bold;
    
}
nav{
    background-color: black;
    min-width: 15%;
    font-size: 30px;
}
ul li{
    font-weight: bolder;

}
ul p{
    font-size: 15px;
}
nav a{
    color: white
}
article div{
    background-color: black;
    border-radius: 10px;
    min-height: 95%;
    opacity: .5;
    padding-left: 10px;
    padding-top: 1rem;
    padding-right: 10px;
}
article div p{
    text-shadow: 2px 2px black;
}
footer{
    color: white;
    background-color: fuchsia;
    border-top: 5px solid black;
    display: flex;
    justify-content: space-around;
    text-shadow: 2px 2px black;
    font-weight: bold;
    max-height: 100%;
    position: bottom;
    
}

@media screen and (max-width: 1389px){
    body{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    header{
        block-size: fit-content;
        font-size: 5vh;
    }
    header img{
        max-height: 100%;
        max-width: 25%;
    }
    div.container{
        display: flex;
        flex-direction: column;
        block-size: fit-content;
        font-size: 5vw;
    }
    article{
        /* block-size: fit-content; */
        font-size: 5vw;
        bottom: 0;
        left: 0;
    }
    footer{
        max-width: 100%;
        max-height: fit-content;
        block-size: fit-content;
        font-size: 5vw;
    }
} 
/* html body{
   height: 100%;
}
body{
    font-family: cinzel decorative;
    border: 5px solid black;
    border-radius: 10px; 
    color: white;  
    min-height: 100%;
}
div.container1{
    display: flex;
    background-color: fuchsia;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    font-weight: bolder;
    min-width: 100%;
    max-height: 15vh;

}
header{
    padding-left: 1em;
    font-size: 75px;
    text-shadow: 5px 5px black;
}
img #header{
    block-size: fit-content;
    max-width: fit-content;
}
div.container{
    display: flex;
}
nav a{
    color: white;
    font-size: 2em;
}
div nav{
    background-color: black;
}
article div{
    background-color: black;
    border-radius: 10px;
    min-height: 95%;
    opacity: .5;
    padding-left: 1em;
    padding-top: 1rem;
    padding-right: 1em;
}
article{
    border: 0px 5px 5px solid black;
    background-image: url(kualoa.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
    font-size: 2em;
}

footer{
    display: flex;
    justify-content: space-between;
    text-shadow: 2px 2px black;
    font-weight: bolder;
    background-color: fuchsia;
    border-top: 5px solid black;
    position: relative;
}
@media screen and (max-width: 1389px){
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    header{
        block-size: fit-content;
        font-size: 5vw;
    }
    div img{
        max-height: 100%;
        max-width: 25%;
    }
    div.container{
        display: flex;
        flex-direction: column;
        block-size: fit-content;
        font-size: 5vw;
    }
    article{
        block-size: fit-content;
        font-size: 5vw;
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: url(kualoa.jpg);
        background-size: cover;
    }
    footer{
        max-width: 97%;
        max-height: fit-content;
        block-size: fit-content;
        font-size: 5vw;
    }
} */